.bg-default {
    color: var(--bg-default);
}

.bg-primary {
    color: var(--bg-primary);
}

.bg-primary-light {
    color: var(--bg-primary-light);
}

.bg-primary-dark {
    color: var(--bg-primary-light);
}

.bg-secondary {
    color: var(--secondary);
}

.bg-secondary-dark {
    color: var(--secondary-dark);
}