.text-default {
    color: var(--text-default);
}

.text-subtitle {
    color: var(--text-subtitle);
}

.text-primary {
    color: var(--text-primary);
}

.text-primary-light {
    color: var(--text-primary-light);
}

.text-primary-dark {
    color: var(--text-primary-light);
}

.text-secondary {
    color: var(--secondary);
}

.text-secondary-dark {
    color: var(--secondary-dark);
}

.default-font-family {
    font-family: var(--default-font-family);
}

.secondary-font-family {
    font-family: var(--secondary-font-family);
}